/*CSS A HTML*/

html{
    background-image: url(imagenes/fondo.png);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'DotGothic16';
}

/*CSS A BODY*/

body{
    margin: 0px;
    padding: 0px;
}

/*CABECERA DE PÁGINA*/

header{
    border:3px solid #000000;
    width: 100%;
    height: 100px;  
    background-image: url(imagenes/pkmn_header.jpg);
    background-size: 100%;
    position: sticky;
    top: 0px; 
}

/*ID LOGO*/

#logo_pagina{
    margin-top: 6px;
}

/*CLASE CABECERA*/

#cabecera{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 400px;
    margin-top: -75px;
}

.cabecera{
    float: left;
    width: 20%;
    font-size: xx-large;
    white-space: nowrap;
}

.cabecera a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.cabecera a:hover{
    background: #1EC000;
}

/*CUERPO DE PÁGINA*/

    /*MENU HOME*/

#cuerpo_index{
    border: solid #000000;
    border-top: transparent;
    width: 75%;
    height: auto;
    text-align: left;
    margin-top: -20px;
    margin-left: 13%;
    margin-right: 50%;
    background-color: #EAFED9;
}

#tabla_laboratorios{
    background: #A4D5EA;
    border-radius: 10%;
}

#titulo_tabla{
    text-align: center;
}

.diferentes_laboratorios_tabla{
    margin-left: 25px; 
}

.diferentes_laboratorios_tabla a{
    color: #000000;
    text-decoration: none; 
}

#laboratorio_kanto{
    float: right;
    margin-right: 35px;
    margin-top: -230px;
    width: 23%;
}

#laboratorio_hoenn{
    float: right;
    margin-right: 100px;
    margin-top: -170px;
    width: 11%;
}

#laboratorio_sinnoh{
    float: right;
    margin-right: 35px;
    margin-top: -220px;
    width: 20%;
}

#laboratorio_teselia{
    float: right;
    margin-right: 35px;
    margin-top: -260px;
    width: 23%;
}

    /*POKEDEX*/

#cuerpo_pokedex{
    border: solid #000000;
    border-top: transparent;
    width: 75%;
    text-align: left;
    margin-top: -20px;
    margin-left: 13%;
    margin-right: 50%;
    background-color: #EAFED9;
}    

#tabla_pokedex{
    width: 500px;
    background: #A4D5EA;
    border-radius: 10%;
    margin: auto;
}

/*CLASE DE LAS POKEDEX*/

.diferentes_pokedex{
    margin-right: -120px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.diferentes_pokedex a{
    color: #000000;
    text-decoration: none; 
}
    
#knto{
    width: 50%;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: auto;
    font-family: 'DotGothic16';
}
    
th{
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #3B3B3B;
}
    
.borde{
    border: 1px solid #000000;
    text-align: center;
}

#soundcloud{
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin-top: 99px;
    margin-left: 10px;
    margin-right: 30px;
}

#sound{
    border: 1px solid #000000;
    width: 80%;
    margin-bottom: -20px;
    margin-left: 38px;
}

#flecha{
    width: 30px;
    margin-left: 48px;
}

#qler{
    background-color: #1EC000;
    margin-top: 20px;
    margin-left:45px;
}

#anuncio2{
    width: 28px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 30px;
}

#pht2{
    width: 200px;
}

#anuncio3{
    width: 15px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

#pht3{
    width: 200px;
}

#anuncio4{
    float: right;
    width: 28px;
    margin-top: -1285px;
    margin-left: 40px;
    margin-right: 210px;
}

#pht4{
    width: 200px;
}

#anuncio5{
    float: right;
    width: 10px;
    margin-top: -950px;
    margin-left: 50px;
    margin-right: 290px;
}

#pht5{
    width: 200px;
    margin-left: 60px;
}

/*#lateral{
    overflow: scroll;
    float: right;
}*/

    /*JUEGOS*/

#jogo{
    border: solid #000000;
    border-top: transparent;
    width: 75%;
    text-align: left;
    margin-top: 0px;
    margin-left: 13%;
    margin-right: 50%;
    background-color: #EAFED9;
}

#mmo{
    width: 500px;
    background: #A4D5EA;
    border-radius: 10%;
    margin: auto;
}

#mapa1{
    float: left;
}

    /*HISTORIA*/



    /*ACERCA...*/

/*PIE DE PÁGINA*/

footer{
    background: #000000;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'DotGothic16';
}

small{
    vertical-align: 27px;
    color: #ffffff;
}

#instagram{
    width: 63px;
    margin-left: 30px;
    margin-top: 19px;
}

#twitter{
    width: 32px;
    margin-left: -18px;
    vertical-align: 16px;
}

#mail{
    width: 28px;
    margin-left: 0px;
    vertical-align: 17px;
}

#boton_subida{
    background-color: #ff0000;
    padding: 20px;
    vertical-align: 25px;
    margin-left: 70px;
    margin-right: -230px;
    text-decoration: none;
    color: #ffffff;
}

/*MÁRGENES*/

p,h1{
    margin-left: 25px;
}